body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
}
pre
{
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    display:block;
    margin:0;
    padding:0;
    border:0;
    margin-left:10px;
    margin-bottom:0px;
    line-height:100%;
    white-space: pre-wrap;
}
span.msg 
{
    display: block;
    margin:0px;
    line-height:100%;
    min-height: 1em;
    padding:0px;
    margin-left:10px;
    white-space: pre-wrap;
}
span.dice
{
    color:lime;
    border-style:dashed;
    border-width:1px;
    border-color:green;
    display:inline-block;
}

#main
{
    height:100%;
    
}

#left
{
    background-color:gray;
    width:88%;
    height:100%;
    float: left;

}
#right
{
    background-color:blue;
    width:12%;
    height:100%;
    float: left;
}

#lefttop
{
    background-color:black;
    position:absolute;
    height:auto;
    width:auto;
    bottom:60.5%;
    top:0;
    left:0;
    right:12.25%;
    overflow-y:scroll;
    overflow-x:hidden;
   

}
#leftbottom
{
    background-color:black;
    position:absolute;
    height:auto;
    width:auto;
    bottom:24px;
    top:40%;
    left:0;
    right:12.25%;
    overflow-y:scroll;
    overflow-x:hidden;
}


#leftentry
{
    
    background-color:black;
    position:absolute;
    height:24px;
    width:auto;
    bottom:0px;
    left:0;
    right:12%;
}

#input
{
    background-color:black;
    color:white;
    margin: 0;

}
#righttop
{
    background-color:black;
    width:100%;
    height:50%;
}
#rightbottom
{
    background-color:black;
    width:100%;
    height:50%;
}


#bottomlp,#toplp
{
    height: 15px;
    color: transparent; 
    background: url("hr1.gif") no-repeat scroll center center rgb(0, 0, 0);
}

#bottomlw,#toplw
{
    border-top: 1px dashed cyan;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 1px;
    color: black;
    background-color: black;
    width: 80%;
}
