doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Ropeclient
        link(rel='stylesheet', href='css/rc.css', type='text/css')
        script(src="js/vendor.js")
        script(src="js/rc.js")
        script.
            var main = require("main");
            $(document).ready(main.init)
    body
        .root-container.flex-container.flex-row
            .flex-content.flex-left#info
                .flex-container.flex-row
                    .flex-grow-1.tab-header
                        span Story
                    .flex-grow-1.tab-header
                        span Map
                .tab-content
                    span info
            .flex-container.flex-column.flex-right
                .flex-container.flex-row.flex-offtopic
                    .flex-content.flex-grow-5#offtopic
                        span offtopic
                    .flex-content.flex-grow-1#players
                        span players
                .flex-content.flex-ontopic#ontopic
                    span ontopic
                .flex-content.flex-input#input
                    textarea

        .connection-container
            .center-box
                h3 Welcome to Ropeclient
                span ws://
                input
                p
                    button#connect Connect