doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Ropeclient
        link(rel='stylesheet', href='css/rc.css', type='text/css')

    body
        .root-container.flex-container.flex-row
            .flex-content.flex-grow-1#map
                span map
            .flex-container.flex-column.flex-grow-2
                .flex-container.flex-row.flex-grow-4
                    .flex-content.flex-grow-5#offtopic
                        span offtopic
                    .flex-content.flex-grow-1#players
                        span players
                .flex-content.flex-grow-5#ontopic
                    span ontopic
                .flex-content#input
                    textarea

