// Useful mixins for CSS3 effects.
//@import 'nib'

// Make browsers render HTML elements consistently.
//@import 'normalize'


//@import '_variables'
//@import '_mixins';

//@import '_fonts';
html
  height: 100%

body
  font-family: 'Helvetica Neue', 'Arial', sans-serif
  margin: 0 auto
  height: 100%
  background-color: grey

.root-container
  height: 100%

.flex-container
  display: flex
  background-color: red

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

for num in 0 1 2 3 4 5 6
  .flex-grow-{num}
    flex-grow: num

  .flex-shrink-{num}
    flex-shrink: num

  .flex-basis-{num}
    flex-basis: num

.flex-content

  border: 1px solid white
  background-color: black
  color: white
  padding: 0.5em
  overflow: hidden

.flex-left
  flex: 1 0 30%
  min-width: 30%

.flex-right
  flex: 2 5

.flex-offtopic
  flex: 2 0

.flex-ontopic
  flex: 3 0

.flex-input
  flex: 0 0 2em


#offtopic
  overflow-y: scroll

#input
  padding: 0.1em

textarea
  width: 100%
  box-sizing: border-box
  resize: none
  vertical-align: top // Chrome hack
  background-color: black
  color: white